@import url('./reset.css');
@font-face {
  font-family: Raleway-regular;
  src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: Raleway-bold;
  src: url('../fonts/Raleway-Bold.ttf');
}
@font-face {
  font-family: Raleway-black;
  src: url('../fonts/Raleway-Black.ttf');
}
*{
  font-family: Raleway-regular;
}

/* gerais */

p {
  color: #ffffff;
  font-size: 1rem;
  word-wrap: break-word;
  padding: 1rem;
}
.module {
  color: #ffffff;
  font-size: 1rem;
  word-wrap: break-word;
  padding: 2rem;
}
span{
  color: #33A8DB;
}
h1{
  font-family: Raleway-black;
  font-size: 2rem;
  text-transform: uppercase;
  background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}
h2 {
  font-family: Raleway-bold;
  color: #3BA1CD;
  font-size: 2rem;
}
a{
  color: #33A8DB;
  font-family: Raleway-bold;
  text-decoration: none;
}

/* sessões */
header{
  font-family: Raleway-regular;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(20, 114, 183, 0.5) 52%, rgba(0, 0, 0, 0) 100%);
  background-color: black;
  border-bottom: 1px solid #3BA1CD;
  text-align: center;
  box-sizing: border-box;
}
.banner-content{
  background: url('../images/banner.png') scroll padding-box;
}
header div{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}
.logo{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  width: 248px;
  height: 214px;
  padding: 2rem;
}
header button{
  font-family: Raleway-bold;
  font-size: 1.2rem;
  border-color: #3BA1CD  #1572B7;
  background: none;
  color: #3BA1CD;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 20px 60px;
}

main{
  background: #000000;
  text-align: center;
  
}
/* section 1 */
#course-content{
  padding-top: 80px;
  padding-bottom: 40px;
}
.modules-list{
display: flex;
flex-direction: column;
align-items: center;
}
.module{
  background-color: #252525;
  border-radius: 50px;
  border: solid #33A8DB;
  width: 800px; 
  margin: 15px;
  box-shadow: inset 0px 4px 4px 4px black;
  font-size: 20px;
}

/* section 2 */
#transform-world{
  background: url('../images/woman-code.png') top left no-repeat fixed padding-box content-box;
  background-size: cover;
  border: 1px solid #33A8DB;
  height: 500px;
  width: auto; 
}
#transform-world div {
  height: 500px;
  width: 600px;
}
#transform-world p {
  font-family: Raleway-black;
  text-transform: lowercase ;
  font-size: 3rem;
  text-align: left;
  padding: 100px;
}
/* section 3 */
#professional-challenges{
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #3BA1CD;
}


footer{
  background-color: #000000;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(20, 114, 183, 0.5) 52%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
  margin: 0;
}
.dio-logo{
  padding-top: 50px;
  padding-bottom: 0;
}
